// Generate prefixes
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value;
  }

  #{$property}: $value;
}

// Border-box
@mixin box-sizing($type) {
  @include prefix(box-sizing, $type, 'moz' 'webkit');
}

// Transition
@mixin transition($arguments) {
  @include prefix(transition, $arguments, 'webkit' 'moz' 'ms' 'o');
}

// Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// Breakpoints
@mixin breakpoint($min: 0, $max: 0) {
  $type: type-of($min);

  @if $type == string {
    @each $breakpoint in $breakpoints {
      @if ($breakpoint == xl) {
        @if $min == xl {
          @media screen and #{$grid-max-width} {
            @content;
          }
        }
      }
      @if ($breakpoint == l) {
        @if $min == l {
          @media screen and #{$grid-max-width-desktop} {
            @content;
          }
        }
      }
      @if ($breakpoint == m) {
        @if $min == m {
          @media screen and #{$grid-max-width-tablet} {
            @content;
          }
        }
      }
      @if ($breakpoint == s) {
        @if $min == s {
          @media screen and #{$grid-max-width-mobile} {
            @content;
          }
        }
      }
    }

  } @else if $type == number {
    $query: "all" !default;
    @if $min != 0 and $max != 0 {
      $query: "(min-width: #{$min}) and (max-width: #{$max})";
    } @else if $min != 0 and $max == 0 {
      $query: "(min-width: #{$min})";
    } @else if $min == 0 and $max != 0 {
      $query: "(max-width: #{$max})";
    }

    @media screen and #{$query} {
      @content;
    }
  }
}
