// Colors
$black: #222121;
$blue: #172029;
$orange: #ff9400;
$white: #fff;
$grey: #B5B7B7;

// Fonts
$font-family: 'Open Sans', sans-serif;
$font-size: 16px;
$font-weight: 400;
$font-color: $blue;

$font-family-headings: 'Open Sans', sans-serif;
$font-weight-headings: 600;
$font-headings-transform: uppercase;

$h1-size: 50px;
$h2-size: 45px;
$h3-size: 40px;
$h4-size: 35px;
$h5-size: 30px;
$h6-size: 25px;

$h1-margin-bottom: 20px;
$h2-margin-bottom: 20px;
$h3-margin-bottom: 20px;
$h4-margin-bottom: 20px;
$h5-margin-bottom: 20px;
$h6-margin-bottom: 20px;

// Links
$link-color: $orange;
$link-hover: rgba($orange, .5);

// Primary definition
$primary: $black;

$link-color: $orange;
