.services {
  background: $black;

  .service {
    height: 50vh;
    min-height: 400px;
    overflow: hidden;
    position: relative;
    @include transition(all .5s ease-in-out);

    &:hover {
      .background {
        transform: scale(1.01);

        &:before {
          width: 100%;
        }
      }

      .container {
        .btn {
          @include opacity(1);
        }
      }
    }

    .background {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background: {
        size: cover;
        position: center;
        repeat: no-repeat;
      }
      @include transition(all .5s ease-in-out);

      &:before {
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        height: 100%;
        width: 0;
        background-color: rgba($white, .25);
        @include transition(all .25s ease-in-out);
      }
    }

    .container {
      height: 100%;
      position: relative;
      z-index: 1;

      .title {
        position: absolute;
        top: 50%;
        left: 100px;
        bottom: 40%;
        transform: translateY(-50%);

        h2 {
          text-shadow: 0 0 20px rgba($white, .5);
        }
      }

      .btn {
        @include opacity(0);
      }
    }
  }
}
