.btn, .button {
  background: $blue;
  font-size: $font-size;
  padding: 10px 15px;
  display: inline-block;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: $grey;
  text-align: center;

  &:hover {
    background: $white;
    color: $blue;
  }
}
