#footer {
  background-color: $blue;
  width: 100%;
  padding: 25px 0;
  color: $white;

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .columns {
    .column {

    }
  }
}
