#header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: $blue;

  .container {
    grid-template-columns: repeat(2, 50%);

    @include breakpoint(s) {
      grid-template-columns: 1fr;
    }
  }

  .logo-container {
    grid-column: 1 / 2;
    margin: 5px 0;
    display: flex;
    align-items: flex-start;
    transition: all .3s ease-in-out;

    img {
      max-height: 50px;
    }

    &:hover {
      opacity: .8;
    }
  }

  .navigation {
    grid-column: 2 / 3;
    display: flex;
    text-align: right;
    align-content: center;
    justify-content: flex-end;

    li {
      display: inline-flex;
      padding: 2px 5px;
      margin: 5px 2px;
      height: auto;

      a {
        color: #fff;
        text-decoration: none;
        font-weight: 300;
        text-transform: uppercase;
        align-items: center;
        justify-content: center;
        display: flex;
        transition: all .3s ease-in-out;

        &:hover {
          color: $orange;
        }
      }
    }
  }
}
