@font-face {
  font-family: 'OpenSans';
  src: url('../../assets/fonts/OpenSans-Light.woff') format('woff'),
  url('../../assets/fonts/OpenSans-Light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../assets/fonts/OpenSans-LightItalic.woff') format('woff'),
  url('../../assets/fonts/OpenSans-LightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../assets/fonts/OpenSans-Regular.woff') format('woff'),
  url('../../assets/fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../assets/fonts/OpenSans-Italic.woff') format('woff'),
  url('../../assets/fonts/OpenSans-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../assets/fonts/OpenSans-SemiBold.woff') format('woff'),
  url('../../assets/fonts/OpenSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../assets/fonts/OpenSans-SemiBoldItalic.woff') format('woff'),
  url('../../assets/fonts/OpenSans-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../assets/fonts/OpenSans-Bold.woff') format('woff'),
  url('../../assets/fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../assets/fonts/OpenSans-BoldItalic.woff') format('woff'),
  url('../../assets/fonts/OpenSans-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../assets/fonts/OpenSans-ExtraBold.woff') format('woff'),
  url('../../assets/fonts/OpenSans-ExtraBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../assets/fonts/OpenSans-ExtraBoldItalic.woff') format('woff'),
  url('../../assets/fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}
