body {
  font: {
    family: $font-family;
    size: $font-size;
    weight: $font-weight;
  }
  line-height: 1.4;
  color: $blue;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  font: {
    family: $font-family-headings;
    weight: $font-weight-headings;
  }
  text-transform: $font-headings-transform;
}

h1 {
  font-size: $h1-size;
  margin-bottom: $h1-margin-bottom;
}

h2 {
  font-size: $h2-size;
  margin-bottom: $h2-margin-bottom;
}

h3 {
  font-size: $h3-size;
  margin-bottom: $h3-margin-bottom;
}

h4 {
  font-size: $h4-size;
  margin-bottom: $h4-margin-bottom;
}

h5 {
  font-size: $h5-size;
  margin-bottom: $h5-margin-bottom;
}

h6 {
  font-size: $h6-size;
  margin-bottom: $h6-margin-bottom;
}

// Links
a {
  @include transition(all .3s ease-in-out);
}
