$breakpoints: 'xl','l','m','s';

$grid-max-width: '(min-width: 1440px)';
$grid-max-width-desktop: '(min-width: 1024px) and (max-width: 1439px)';
$grid-max-width-tablet: '(min-width: 767px) and (max-width: 1024px)';
$grid-max-width-mobile: '(max-width: 767px)';
