<template>
    <nav class="navbar header has-shadow" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="~assets/images/general/stripes.svg" alt="Wouters Media" width="40">
                </a>

                <div class="navbar-burger">
                    <span/>
                    <span/>
                    <span/>
                </div>
            </div>

            <nuxt-link class="navbar-item" :to="item.to" exact-active-class="is-active" v-for="(item, key) of items"
                       :key="key">
                <b-icon :icon="item.icon"/>
                {{ item.title }}
            </nuxt-link>

        </div>
    </nav>
</template>

<script>
    export default {
        name: "AltHeader"
    }
</script>

<style scoped>

</style>
