<template>
    <footer id="footer">
        <div class="container">
            <div class="column" v-for="(obj, key) in footerColumns" :key="key">
                <h6>{{ obj.title }}</h6>

                <p>{{obj.text}}</p>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: "Footer",
        data: () => ({
            footerColumns: [
                {
                    title: "Contact",
                    list: [
                        {
                            name: "Link 1",
                            href: "#"
                        }
                    ],
                    text: ""
                },
                {
                    title: "About",
                    text: "Wij beperken ons niet tot 1 categorie, wij zijn op zoveel vlakken actief. De ideale partner denkt met u mee, dit proberen wij in de grootste zin van het woord te zijn. Benieuwd naar de mogelijkheden? Neem contact met ons op!"
                },
                {
                    title: "Info",
                    text: [
                        "KvK/CoC: 53598490",
                        "BTW: Test",
                    ]
                }
            ]
        })
    }
</script>
