<template>
  <header id="header">
    <div class="container">
      <a href="/" title="Home">
        <div class="logo-container">
          <img :src="obj.src" :alt="obj.alt" v-for="(obj,key) in logo" :key="key">
        </div>
      </a>
      <ul class="navigation">
        <li class="nav-item">
          <nuxt-link to="/">Home</nuxt-link>
        </li>
        <li class="nav-item">
          <nuxt-link to="/demo">Demo</nuxt-link>
        </li>
      </ul>

    </div>
  </header>
</template>

<script>
import {VueLazy} from '@/assets/ts/lazy';

new VueLazy();

export default {
  name: "Header",
  data: () => ({
    logo: [
      {
        alt: 'Wouters Media',
        src: require('@/assets/images/general/logo.svg'),
      }
    ],
    navigation: [
      {
        title: 'Home',
        href: '#',
        target: '_self',
      },
      {
        title: 'External Site',
        href: 'https://google.nl',
        target: '_blank',
      },
    ],
    class1: true,
  })
}
</script>
