<template>
    <aside class="menu">
        <p class="menu-label">
            General
        </p>
        <ul class="menu-list">
            <li>
                <a class="is-active">Home</a>
            </li>
            <li>
                <a>DJ Elmar Willard</a>
            </li>
            <li>
                <a>Vlogs</a>
            </li>
            <li>
                <a>Web Development</a>
            </li>
            <li>
                <a>Podcasts</a>
            </li>
        </ul>
        <p class="menu-label">
            Overig
        </p>
        <ul class="menu-list">
            <li>
                <a>Contact</a>
                <ul>
                    <li>
                        <a>Formulier</a>
                    </li>
                    <li>
                        <a>Social</a>
                    </li>
                    <li>
                        <a>En nog meer contact</a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
</template>

<script>
    export default {
        name: "Menu"
    }
</script>

<style scoped>

</style>
