<template>
    <section class="services">
        <div class="service parallax lazyload" data-aos="zoom-in-up" :data-bg="obj.image"
             v-for="(obj, key) in services"
             :key="key">
            <div class="background" :style="'background-image:url(\'' + obj.image + '\');'"><span></span></div>
            <div class="container">
                <div class="title" data-aos="fade-up">
                    <h2>{{ obj.title }}</h2>
                    <a class="btn" :alt="obj.title" :href="obj.link">Lees meer</a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "Services",
        data: () => ({
            services: [
                {
                    image: require('@/assets/images/elmar-willard-chupitos.jpg'),
                    title: 'DJ Elmar Willard',
                    link: '#',
                },
                {
                    image: require('@/assets/images/baron-efteling.jpg'),
                    title: 'Vlogs',
                    link: '/vlogs',
                },
                {
                    image: require('@/assets/images/web-development.jpg'),
                    title: 'Web Development',
                    link: '#',
                },
                {
                    image: require('@/assets/images/podcast-with-joris.jpg'),
                    title: 'Podcasts',
                    link: '#',
                },
            ]
        })
    }
</script>
