<template>
    <div class="slider">
        <div class="slide" v-bind:slides="(obj, slides) in slides" :key="key">
            Hallo
        </div>
    </div>
</template>

<script>
    export default {
        name: "Slider",
        data: () => ({
            slides: [
                {
                    image: '',
                    text: 'Demo text',
                    href: ''
                },
                {
                    image: '',
                    text: 'Demo text 2',
                    href: ''
                }
            ]
        })
    }
</script>

<style lang="scss">
    .slider {
        background-color: red;
        height: 40vh;
        width: 100%;
    }
</style>
