<template>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1>Demo</h1>
        </div>
      </div>
      <div class="columns">
        <div class="column is-one-quarter">
          <Menu></Menu>
        </div>
        <div class="column is-two-quarter">
          <h2 class="title is-3 has-text-grey">
            "Just start  <b-icon icon="rocket" size="is-large"/>"
          </h2>
          <h3 class="subtitle is-6 has-text-grey">
            Author: <a href="https://github.com/anteriovieira">Antério Vieira</a>
          </h3>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import Menu from "~/components/Menu";

  export default {
    name: 'Demo',

    components: {
      Menu
    }
  }

</script>
