<template>
    <div class="holder">
        <Services></Services>
    </div>
</template>

<script>
    import HomeCards from "~/components/HomeCards";
    import Services from "~/components/Services";

    export default {
        name: 'Homepage',

        components: {
            HomeCards,
            Services
        }
    }
</script>
