<template>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1>Vlogs</h1>
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-quarter">
                    <Menu></Menu>
                </div>
                <div class="column is-two-quarter">
                    <div class="columns is-multiline">

                        <div class="column is-one-third" v-for="(obj, key) in vlogs" :key="key">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img :src="'https://img.youtube.com/vi/' + obj.youtubeId + '/maxresdefault.jpg'" :alt="obj.title">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4">{{ obj.title }}</p>
                                            <p class="subtitle is-6">@{{ obj.author }}</p>
                                        </div>
                                    </div>
                                    <div class="content" v-if="obj.description">
                                        {{ obj.description }}
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <p class="card-footer-item">
                                      <span>
                                        <a :href="'https://www.youtube.com/watch?v=' + obj.youtubeId" target="_blank">YouTube</a>
                                      </span>
                                    </p>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import Menu from "~/components/Menu";

    export default {
        name: 'Vlogs',

        components: {
            Menu
        },
        data: () => ({
            vlogs: [
                {
                    title: 'Vlog #4 - Joris & De Draak is Weer open!',
                    youtubeId: '7c_jgv_S6xU',
                    author: 'elmarwouters',
                    description: ''
                },
                {
                    title: 'Vlog #2 - Uitkoopdag in de Efteling',
                    youtubeId: 'UIy379hD5M',
                    author: 'elmarwouters',
                    description: ''
                },
            ]
        })
    }

</script>
